.drawing-1{
    background-color: red;
    height: 400px;
    width: 500px;
    
}

.drawing-1 h1{
    justify-content: flex-end;
}

h1{
    text-decoration: blink;
}

.heading{
    text-transform: capitalize;
}
