body{
    text-align: center;
    margin: 10px;
}

#userInput{
    width: 50%;
    height: 30px;
    display: block;       
    margin: 0 auto; 
}

.input{
    list-style-position: inside;
    position: absolute;
    left: 25%;
    
    

}
.completeButton{
    background-color: green;
    margin-left: 10px;
    margin-right: 10px;
}

.deleteButton{
    background-color: red;
    width: 70px;
}
